{{>header}}

<div class="container-fluid">
  <div class="row justify-content-between">
    {{!-- leftSide --}}
    {{> leftSide}}
    <!-- Main -->
    <div class="container col-sm-6">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <br>


          <div class="search">
            <h3>Stock Search</h3>
            <form id="search">
              <input type="input" class="form-control" id="search-input" placeholder="Stock Code">
            </form>
          </div>
          <br>
          <a href="" id="input-search" class="button1">Search</a>
          <br>
          <h3> Search results</h3>
          <br>
          <div>
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th scope="col">key</th>
                  <th scope="col">Value</th>
                </tr>
              </thead>
              <div id="results">

              </div>
              </tbody>
            </table>


          </div>
          <br>
          <a href="" id="input-buy" class="button1">Buy</a>

          <a href="" class="button1">Watch</a>
          <h3> Stocks</h3>
          <br>
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Company</th>
                <th scope="col">PurchasedPrice</th>
                <th scope="col">Units</th>
              </tr>
            </thead>
            {{#each stk}}
            <tr>
              <th scope="row">{{this.dataValues.id}}</th>
              <td>{{this.dataValues.Code}}</td>
              <td>{{this.dataValues.Company}}</td>
              <td>{{this.dataValues.PurchasePrice}}</td>
              <td>{{this.dataValues.Units}}</td>
            </tr>
            {{/each}}
            </tbody>
          </table>
          <a href="" class="button1">Sell</a>
          <br>


        </div>
      </div>
    </div>
    <!-- Right Side -->
    {{> rightSide}}
  </div>
</div>

{{> footer}}